@using Portal.Proveedores.Models;

@{
    ViewBag.Title = "Subir archivos";
}

@{ 
    var user = Session["UserID"] as AccountModel;
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Cerrar sesión","SingOut")</li>
            </ul>
        </div>
    </div>
</div>

<div class="form-signin">
    <img class="mb-4" src="/Images/tracusa_logo.png" alt="" width="300" height="72">
    <h1 class="h3 mb-3 font-weight-normal" align="center">Subir archivos</h1>

    @using (Html.BeginForm("UploadFile", "Portal", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.Label("XML");
        @Html.TextBox("xmlFile", "", new { type = "file", accept = "application/xml" }) <br />
        @Html.Label("PDF");
        @Html.TextBox("pdfFile", "", new { type = "file", accept = "application/pdf" }) <br />

        <hr style="border:2px;">

        <input type="submit" value="Subir archvios" class="btn btn-lg btn-primary btn-block center-block" />

        if(ViewBag.Message == "¡Envío exitoso!")
        {
            <span style="color:green" align="center" id="message"><b>@ViewBag.Message</b></span>
        }
        else
        {
            <span style="color:red" align="center" id="message"><b>@ViewBag.Message</b></span>
        }
    }

</div>
